<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <enqueue>
            <transport>
                <default>null</default>
            </transport>
            <client>
                <prefix>enqueue</prefix>
                <app_name>app</app_name>
                <router_topic>router</router_topic>
                <router_queue>default</router_queue>
                <default_processor_queue>default</default_processor_queue>
                <redelivered_delay_time>0</redelivered_delay_time>
            </client>
            <rabbitmq_amqp>
                <host>localhost</host>
                <port>5672</port>
                <user>guest</user>
                <pass>guest</pass>
                <vhost>/</vhost>
                <lazy>1</lazy>
            </rabbitmq_amqp>
            <amqp>
                <port>5672</port>
                <lazy>1</lazy>
            </amqp>
            <rabbitmq_stomp>
                <management_plugin_port>15672</management_plugin_port>
                <port>61613</port>
                <lazy>1</lazy>
            </rabbitmq_stomp>
            <stomp>
                <port>61613</port>
                <lazy>1</lazy>
            </stomp>
            <fs>
                <pre_fetch_count>1</pre_fetch_count>
                <chmod>0600</chmod>
            </fs>
            <sqs>
                <retries>3</retries>
                <lazy>1</lazy>
            </sqs>
            <redis>
                <port>6379</port>
                <lazy>1</lazy>
            </redis>
            <dbal>
                <table_name>enqueue</table_name>
                <polling_interval>1000</polling_interval>
                <lazy>1</lazy>
            </dbal>
        </enqueue>
    </default>
</config>
