<?xml version="1.0"?>
<!--
/**
 * @author    Ruslan <rusalndovg291@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Config\Model\Config">
        <plugin name="enqueue_config_validation" type="Enqueue\Magento2\Plugin\Config\ValidateConfiguration"/>
    </type>
</config>