<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="enqueue" translate="label" sortOrder="130" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Enqueue</label>
            <tab>general</tab>
            <resource>Enqueue_Enqueue::configuration</resource>
            <group id="transport" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Transport</label>
                <field id="default" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default</label>
                    <source_model>Enqueue\Magento2\Model\Config\Source\Transport</source_model>
                </field>
            </group>
            <group id="client" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Client</label>
                <field id="prefix" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Prefix</label>
                </field>
                <field id="app_name" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>App name</label>
                </field>
                <field id="router_topic" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Router topic</label>
                </field>
                <field id="router_queue" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Router queue</label>
                </field>
                <field id="default_processor_queue" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Processor Queue</label>
                </field>
                <field id="redelivered_delay_time" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Redelivered Delay Time</label>
                    <validate>validate-number</validate>
                </field>
            </group>
            <group id="rabbitmq_amqp" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>RabbitMQ AMQP</label>
                <field id="host" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Host</label>
                </field>
                <field id="port" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Port</label>
                    <validate>validate-number</validate>
                </field>
                <field id="user" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User</label>
                </field>
                <field id="pass" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                </field>
                <field id="vhost" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Virtual Host</label>
                </field>
                <field id="lazy" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Lazy Connection</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Connection will be performed as later as possible.</comment>
                </field>
            </group>
            <group id="amqp" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>AMQP</label>
                <field id="host" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Host</label>
                </field>
                <field id="port" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Port</label>
                    <validate>validate-number</validate>
                </field>
                <field id="user" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>User</label>
                </field>
                <field id="pass" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                </field>
                <field id="vhost" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Virtual Host</label>
                </field>
                <field id="lazy" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Lazy Connection</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Connection will be performed as later as possible.</comment>
                </field>
            </group>
            <group id="stomp" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>STOMP</label>
                <field id="host" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Host</label>
                </field>
                <field id="port" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Port</label>
                    <validate>validate-number</validate>
                </field>
                <field id="login" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Login</label>
                </field>
                <field id="password" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                </field>
                <field id="vhost" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Virtual Host</label>
                </field>
                <field id="lazy" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Lazy Connection</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Connection will be performed as later as possible.</comment>
                </field>
            </group>
            <group id="rabbitmq_stomp" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>RabbitMQ STOMP</label>
                <field id="host" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Host</label>
                </field>
                <field id="port" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Port</label>
                    <validate>validate-number</validate>
                </field>
                <field id="login" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Login</label>
                </field>
                <field id="password" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                </field>
                <field id="vhost" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Virtual Host</label>
                </field>
                <field id="lazy" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Lazy Connection</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Connection will be performed as later as possible.</comment>
                </field>
                <field id="delay_plugin_installed" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Delay plugin installed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="management_plugin_installed" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Management plugin installed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="management_plugin_port" translate="label comment" type="text" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Management plugin port</label>
                    <validate>validate-number</validate>
                </field>
            </group>
            <group id="fs" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Filesystem</label>
                <comment><![CDATA[<strong style="color:orange">Note!</strong> <strong>Client:Router Topic</strong> and <strong>Client:Router Queue</strong> must be equal for this transport.]]></comment>
                <field id="store_dir" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Store directory</label>
                    <comment>The store directory where all queue\topics files will be created and messages are stored</comment>
                </field>
                <field id="pre_fetch_count" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SPre fetch count</label>
                    <comment>The option tells how many messages should be read from file at once. The feature saves resources but could lead to bigger messages lose.</comment>
                    <validate>validate-number</validate>
                </field>
                <field id="chmod" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Filesystem permissions</label>
                    <comment>The queue files are created with this given permissions if not exist.</comment>
                    <validate>validate-number</validate>
                </field>
            </group>
            <group id="sqs" translate="label" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Amazon AWS SQS</label>
                <field id="key" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Key</label>
                </field>
                <field id="secret" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret</label>
                </field>
                <field id="token" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Token</label>
                </field>
                <field id="region" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Region</label>
                </field>
                <field id="retries" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Retries</label>
                    <comment>Configures the maximum number of allowed retries for a client (pass 0 to disable retries)</comment>
                    <validate>validate-number</validate>
                </field>
                <field id="lazy" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Lazy Connection</label>
                    <comment>Connection will be performed as later as possible.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="redis" translate="label" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Redis</label>
                <field id="host" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Host</label>
                </field>
                <field id="port" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Port</label>
                    <validate>validate-number</validate>
                </field>
                <field id="vendor" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Vendor</label>
                    <source_model>Enqueue\Magento2\Model\Config\Source\Redis\Vendor</source_model>
                </field>
                <field id="lazy" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Lazy Connection</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Connection will be performed as later as possible.</comment>
                </field>
            </group>
            <group id="dbal" translate="label" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Doctrine DBAL</label>
                <field id="url" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Connection URL</label>
                    <comment><![CDATA[<a target="_blank" href="http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url">Connecting using a URL</a> Example: mysql://user:password@host:port/dbname?charset=UTF8]]></comment>
                </field>
                <field id="table_name" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Table name</label>
                </field>
                <field id="polling_interval" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Polling interval</label>
                    <validate>validate-number</validate>
                </field>
                <field id="lazy" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Lazy Connection</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Connection will be performed as later as possible.</comment>
                </field>
            </group>
        </section>
    </system>
</config>